<div class="footer">
  <button mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          [color]="selectType === 'menu' ? 'warn' : ''"
          (click)="changeType('menu')">
    <mat-icon>restaurant</mat-icon>
  </button>

  <button mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          *ngIf="!isAdmin()"
          [color]="selectType === 'basket' ? 'warn' : ''"
          (click)="changeType('basket')">
    <mat-icon>shopping_basket</mat-icon>
  </button>

  <button mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          *ngIf="isAdmin()"
          [color]="selectType === 'basket-admin' ? 'warn' : ''"
          (click)="changeType('basket-admin')">
    <mat-icon [matBadgeHidden]="ordersLength === 0"
              matBadge="{{ordersLength}}"
              matBadgeColor="primary">shopping_basket</mat-icon>
  </button>

  <button mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          *ngIf="!isAdmin()"
          [color]="selectType === 'notifications' ? 'warn' : ''"
          (click)="changeType('notifications')">
    <mat-icon>room_service</mat-icon>
  </button>

  <button mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          *ngIf="isAdmin()"
          [color]="selectType === 'notifications-admin' ? 'warn' : ''"
          (click)="changeType('notifications-admin')">
    <mat-icon [matBadgeHidden]="adminWaitingLen + waiterWaitingLen === 0"
              matBadge="{{adminWaitingLen + waiterWaitingLen}}"
              matBadgeColor="primary">people</mat-icon>
  </button>
</div>
